.main{
    margin:0;
    padding:5rem;
    /* display:flex; */
    text-align:center;
}
.main h1 {
    /* border:1px solid white; */
    font-size: 3vw;
	
	line-height: 0;
    margin:0;
    padding:0;
    color: white;
    /* position: absolute; */
    /* top: 25%; */
    /* padding-left: calc(100% - 75%); */
}
