.container {
	/* background-color: #0A1929; */
	width: 40rem;
	height: 40rem;
	position: absolute;
	top: calc((100% - 40rem) / 2);
	left: calc((100% - 40rem) / 2);
	text-align: center;
	background: #0f0c29; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#24243e,
		#302b63,
		#0f0c29
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#24243e,
		#302b63,
		#0f0c29
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container h1 {
	font-size: 4rem;
}
